
  <div class="rowOfProjects">
                <% for(var i=0; i < projects.length; i++){ %>
                  <% var colors = ["primary","green","yellow","red"]; %>
                  <% var color = colors[i%4]; %>
                    
                        <div class="col-lg-3 col-md-6">
                        <div class="panel panel-<%=color%>">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-files-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                <% var projectId = projects[i]._id %>
                                
                                
                                    <div class="huge"><%= projects[i].name %></div>
                                    
                                    <div><%= projects[i].description %></div>
                                </div>
                            </div>
                        </div>
                        
                            <a href="/projects/<%= projects[i]._id.toHexString() %>">
                            <div class="panel-footer">
                                <span class="pull-left"><%= projects[i].course %></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div> 
                 
                <% } %>
                <br>
            </div>
                
    
